.masked-icon {
  position: relative;
  width: 18px;
  height: 22px;
  object-fit: cover;
  display: none;
}
.button {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.sizelarge-colorwarning-sta {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--warning-main);
  box-shadow: var(--elevation-2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-3xl);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--components-button-large-size);
  color: var(--warning-contrast);
  font-family: var(--components-button-large);
}
